body {
    margin: 20px;
    padding: 20px;
    border: 2px solid #333;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

h1 {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #007acc;
    background-color: #e6f2ff;
    box-sizing: border-box;
}

p {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    box-sizing: border-box;
}